:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --heading-color: #1b0760;
    --paragraph-color: #918ca4;
    --border-color: #ccc;
    --border-radius: 30px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* typography */
html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--paragraph-color);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: var(--heading-color);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width:1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* links */
a {
    text-decoration: none;
    font-weight: bold;
}

.arrow-link {
    color: var(--accent-color);
    font-size: 2rem;
}

.arrow-link::after {
    content: '';
    margin-left: 5px;
    transition: all .15s;
}

.arrow-link:hover::after {
    margin-left: 10px;
}

@media screen and (min-width:1024px) {
    .arrow-link {
        font-size: 1.5rem;
    }
}

/* badges */

.badge {
    border-radius: 20px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.8rem 2.3rem;
    white-space: nowrap;
}

.badge--primary {
    background-color: var(--primary-color);
}

.badge--secondary {
    background-color: var(--secondary-color);
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* lists */

.list {
    list-style-type: none;
    padding-left: 0;
    color: var(--heading-color);
}

.list--inline {
    display: flex;
}

.list--inline .list__item {
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url('/icons/tick.svg');
    margin-left: 2rem;
}

.list--tick .list__item {
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.bold {
    font-weight: bold;
}

@media screen and (min-width:1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* icons */
.icon {
    width: 50px;
    height: 50px;
}

.icon--primary {
    fill: var(--primary-color);
}

.icon--white {
    fill: white;
}

.icon-container {
    align-items: center;
    background-color: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    height: 75px;
    justify-content: center;
    width: 75px;
}

/* buttons */
.btn {
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.20s;
    text-align: center;
    margin: 1rem 0;
}

.btn--accent {
    background-color: var(--accent-color);
}

.btn--accent:hover {
    background-color: #ff4617;
}

.btn--secondary {
    background-color: var(--secondary-color);
}

.btn--secondary:hover {
    background-color: #30e0ff;
}

.btn--heading {
    background-color: var(--heading-color);
}

.btn--heading:hover {
    background-color: #22125e;
}

.btn--outline {
    background-color: white;
    border: 2px solid var(--heading-color);
    color: var(--heading-color);
}

.btn--outline:hover {
    background-color: var(--heading-color);
    color: white;
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.white {
    color: white;
}

.color-heading {
    color: var(--heading-color);
}

@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* inputs */

.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    color: var(--heading-color);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3rem;
}

.input-group {
    box-shadow: 0 0 20px 1px gray;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    padding: .5rem;
    margin: 5px;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem;
}

.input-group .btn {
    margin: 0;
}

::placeholder {
    color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}

/* card */

.card {
    border-radius: 10px;
    box-shadow: 1px 1px 50px 1px grey;
    margin: 5px;
    width: 500px;
    overflow: hidden;
}


.card__header,
.card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background-color: var(--primary-color);
}

.card--secondary .card__header {
    background-color: var(--secondary-color);
}

.card__pricing {
    font-size: 6rem;
}

.card__duration {
    margin: 0 1rem 0 .5rem;
    opacity: .8;
}

.card__description {
    font-size: 2rem;
    letter-spacing: 1px;
}

.card__title {
    font-size: 2.4rem;
    margin: 0;
}

.card--secondary .badge--secondary {
    background-color: #02cdf1;
}

.card--primary .badge--primary {
    background-color: #126de4;
}

.card__body .list {
    margin-bottom: 3rem;
    line-height: 1.5;
    font-weight: 500;
}

.card__body .list__item {
    letter-spacing: 1px;
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url("../icons/popular.svg");
    width: 50px;
    display: inline-block;
    position: absolute;
    top: -7px;
    right: 5%;
}

@media screen and (min-width:1024px) {
    .card__title {
        font-size: 1.4rem;
    }

    .card__pricing {
        font-size: 5rem;
    }

    .card__description {
        font-size: 1.8rem;
    }
}

/* media */
.media {
    display: flex;
}

.media__heading {
    margin-top: 0;
    font-size: 2.4rem;
}


.media__content {
    margin: 0 2rem;
}

.media .icon {
    margin-top: 1rem;
}


/* quotes */

.quote {
    font-size: 3rem;
    font-style: italic;
    line-height: 1.3;
    color: #807c93;
}

.quote__text::after {
    content: "\"";
}

.quote__text::before {
    content: "\"";
}

.quote .quote__aurthor {
    font-size: 3rem;
    margin-bottom: 0;
}

.quote .quote__organization {
    font-size: 2rem;
    opacity: .5;
}

.quote .media {
    font-style: normal;
}

.quote .icon {
    position: relative;
    bottom: 15px;
}

@media screen and (min-width:1024px) {
    .quote {
        font-size: 2.4rem;
    }

    .quote__aurthor {
        font-size: 2.4rem;
    }

    .quote__organization {
        font-size: 1.6rem;
    }
}

/* grids */

.grid {
    display: grid;
}

@media screen and (min-width:768px) {
    .grid--1x2 {
        grid-template-columns: 1.5fr 2fr;
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* testimonial */

.testimonial {
    margin: 2rem 5rem;
    box-shadow: 0px 0px 15px 4px var(--paragraph-color);
}

.testimonial__img>img {
    width: 100%;
}

.testimonial__img {
    padding: 2.5rem 3rem;
    width: 75%;
    position: relative;
    margin: auto;
}

.testimonial__img>.icon-container {
    position: absolute;
    top: 50px;
    right: 0;
}

.testimonial .quote {
    font-size: 2rem;
}

@media screen and (min-width:768px) {
    .testimonial__img {
        width: 100%;
        margin: 0;
    }

    .testimonial__img img {
        height: 100%;
        object-fit: cover;
    }


    .testimonial .quote {
        margin: auto 3rem;
        font-size: 2.5rem;
        padding: 2.5rem 0;
    }

    .testimonial .media__content {
        font-size: 3rem;
        margin-right: 0;
    }
}

@media screen and (min-width:1024px) {
    .testimonial__img {
        width: 100%;
        margin: 0;
    }

    .testimonial .quote {
        font-size: 3rem;
        margin: auto 3rem;
        padding: 2.5rem 0;
    }

    .testimonial .media__content {
        font-size: 4rem;
    }
}