<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, reprehenderit explicabo. Quasi,
        explicabo.
        Omnis nesciunt labore, optio temporibus vel ratione quam rem ut nam in nemo voluptatem sint soluta aliquid?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem porro similique aperiam minima illo
        nesciunt cumque, nisi voluptatem! Rerum placeat natus quisquam temporibus repellendus incidunt facilis
        eveniet
        quaerat iusto asperiores.
    </p>
    <div class="media">
        <div>
            <svg class="icon icon--primary">
                <use xlink:href="/icons/demo.svg#line"></use>
            </svg>
        </div>
        <div class="media__content">
            <h3 class="media__heading quote__aurthor">Mosh Hamedani</h3>
            <p class="media__description quote__organization">ABC Company</p>
        </div>
    </div>
</blockquote>